.brand{
  display: flex;
	justify-content: space-between;
	align-items: center;
	.brand-logo{
		text-decoration: none;
		color: green;
		&:hover{
			color: $primary;
		}
		i{
			font-size: 48px;
		}
	}
}
.searchLanguage{
	display: flex;
}
.search{
  a{
		color: grey;
		font-size: 24px;
		transition: .3s;
		&:hover{
			color: $primary;
		}
	}
	input{
		width: 7rem;
		border: 1px solid grey;
		transition: all .3s;
		border-radius: 20px;
		padding-left: 10px;
		margin-right: 20px;
		margin-left: 20px;
		font-size: 14px;
		&:focus{
			width: 12rem;
			outline: none;
		}
	}
}
.language{
	display: inline-block;
	position: relative;
	font-size: 14px;
	.text{
		color: grey;
		padding-bottom: 25px;
		&:hover{
			color: $primary;
		}
		p{
			display: inline-block;
		}
	}
	ul{
		display: none;
		position: absolute;
		right: 0;
		top: 30px;
		width: 13rem;
		border: 1px solid rgba(0,0,0,.2);
		text-align: left;
		padding: 10px 0px;
		color: grey;
		background-color: #fff;
		z-index: 999;
		p{
			font-weight: 600;
			padding-left: 15px;
		}
		hr{
			margin: 10px 0;
		}
		li{
			a{
				display: block;
				color: grey;
				padding: 10px 0 10px 15px;
				&:hover{
					text-decoration: none;
					background-color: rgba(0,159,151,.1);
					color: $primary;
				}
			}
			.active{
				color: $primary;
			}
		}
	}
	&:hover ul{
		display: block;
	}
}
.hamburger-menu{
	display: none;
}
// 第一層
.rk-navbar{
	display: flex;
	margin: 15px 0 0 0;
	a{
		text-decoration: none;
		color: rgba(0,0,0,.7);
		display: block;
		padding-right: 35px;
		padding-bottom: 10px;
	}
	li{
		&:first-child ul{
			height: 500px;
		}
		&:hover > a{
			color: $primary;
		}
		&:hover > ul{
			display: block;
			z-index: 999;
			li{
				&:hover div > ul {
					// min-height: 500px;
					display: inline-block;
				}
				&:hover > a {
					background-color: rgba(0,159,151,.1);
					color: $primary;
				}
				&:hover .newlyLaunched a{
					background-color: #fff;
				}
			}
		}
		ul{
			display: none;
			position: absolute;
			background-color: #fff;
			width: 250px;
			border: 1px solid rgba(0,0,0,.2);
			li{
				.categories,.featured,.newlyLaunched{
					position: absolute;
					top: -1px;
					background-color: #fff;
				}
			}
			a,p{
				padding: 8px 16px;
				font-size: 0.85rem;
			}
			p{
				color: grey;
				font-weight: bold;

			}
			.categories{
				left: 100%;
				ul{
					width: 250px;
				}
			}
			.featured{
				left: 200%;
				ul{
					width: 250px;
					border-left: none;
				}
			}
			.newlyLaunched{
				left: 300%;
				ul{
					width: 365px;
					border-left: none;
				}
				a{
					text-align: center;
					padding: 0;
					&:hover{
						background-color: #fff;
					}
				}
				&:hover{
					background-color: #fff;
				}
			}
			.newlyProduct{
				width: 350px;
				margin: 0 auto;
				padding: 0 15px;
				img{
					margin-top: 15px;
					width: 100%;
					max-width: 500px;
					object-fit: cover;
				}
				span{
					&::before{
						content: '';
						display: block;
						border-top: 2px solid $primary;
						margin-top: 25px;
					}
				}
				&:hover .product-btn{
					background-color: $primary;
					color: #fff;
				}
				&:hover span{
					color: rgba(0,0,0,.7);
				}
				.product-btn{
					margin-top: 5px;
					font-size: 14px;
				}
			}
		}
	}
	.rocket{
		a{
			display: block;
			background: linear-gradient(135deg, #01c0c4 0%, #7aaaee 100%);
			border-radius: 5px;
			padding: 0 10px;
			font-size: 12px;
			color: #fff;
			&:hover{
				background: linear-gradient(135deg, #01c0c4 100%, #7aaaee 0%);
				color: #fff;
			}
		}
	}
}
@media screen and (max-width: $table-media) {
	.rk-navbar.open{
		display: block;
	}
	.rk-navbar{
		display: none;
		flex-direction: column;
		min-height: 100vh;
		a{
			font-size: 20px;
			border-bottom: 1px solid #ececec;
			padding-right: 0;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.rocket{
			a{
				background: transparent;
				color: $primary;
				font-size: 20px;
				padding: 10px 0 10px 0;
				&:hover{
					background:transparent;
					color: $primary;
				}
			}
		}
		li{
			&:first-child ul{
				height: auto;
			}
			&:hover > ul{
				position: static;
				display: none;
				width: auto;
				// border: none;
				li{
					&:hover div > ul {
						// display: none;
						// height: 100px;
					}
				}
			}
			ul{
				position: static;
				width: auto;
				border: none;
				a{
					font-size: 16px;
				}
				li{
					.categories{
						position: static;
						display: none;
						ul{
							background-color: #F5F5F5;
							width: 100%;
						}
					}
					.categories.open{
						display: block;
						ul{
							display: block;
						}
					}
					p{
						display: none;
					}
				}
			}
			ul.open{
				display: block;
			}
		}
	}
	.categories{
		position: static;
		ul{
			background-color: #F5F5F5;
		}
	}
	.featured,.newlyLaunched{
		display: none;
	}
	.hamburger-menu{
		display: block;
		margin-left: 20px;
		margin-right: 2px;
	}
	.hamburger-toggler{
		display: block;
		width: 20px;
		height: 20px;
		position: relative;
		top: 6px;
		cursor: pointer;
		span{
			display: block;
			height: 2px;
			background-color: grey;
			position: relative;
			top: 0;
			transition: transform .2s ease-in-out, top .2s ease-in-out .2s;
			&:nth-child(2),&:nth-child(3) {
				margin-top: 10px;
			}
		}
	}
	#toggler{
		display: none;
		&:checked + label .hamburger-toggler span:nth-child(1){
			transform: rotate(45deg);
			top: 6px;
			transition: top .2s ease-in-out, transform .2s ease-in-out .2s;
		}
		&:checked + label .hamburger-toggler span:nth-child(2){
			transform: rotate(-45deg);
			top: -6px;
			transition: top .2s ease-in-out, transform .2s ease-in-out .2s;
		}
		&:checked ~ .rk-navbar{
			display: block;
		}
	}
}