
.brand{
  display: flex;
	justify-content: space-between;
	align-items: center;
	// height: 56px;
	.brand-logo{
		text-decoration: none;
		color: green;
		&:hover{
			color: $primary;
		}
		i{
				font-size: 48px;
		}
	}
}
.search{
	display: inline-block;
  a{
		color: grey;
		font-size: 24px;
		transition: .3s;
		&:hover{
			color: $primary;
		}
	}
	input{
		width: 7rem;
		border: 1px solid grey;
		transition: all .3s;
		border-radius: 20px;
		padding-left: 10px;
		margin-right: 20px;
		margin-left: 20px;
		font-size: 14px;
		&:focus{
			width: 12rem;
			outline: none;
		}
	}
}
.language{
	display: inline-block;
	position: relative;
	font-size: 14px;
	.text{
		color: grey;
		padding-bottom: 25px;
		&:hover{
			color: $primary;
		}
		p{
			display: inline-block;
		}
	}
	ul{
		display: none;
		position: absolute;
		right: 0;
		top: 30px;
		width: 13rem;
		border: 1px solid rgba(0,0,0,.2);
		text-align: left;
		padding: 10px 0px;
		color: grey;
		background-color: #fff;
		p{
			font-weight: 600;
			padding-left: 15px;
		}
		hr{
			margin: 10px 0;
		}
		li{
			a{
				display: block;
				color: grey;
				padding: 10px 0 10px 15px;
				&:hover{
					text-decoration: none;
					background-color: rgba(0,159,151,.1);
					color: $primary;
				}
			}
			.active{
				color: $primary;
			}
		}
	}
	&:hover ul{
		display: block;
	}
}
// 第一層
.rk-navbar{
	display: flex;
	margin: 15px 0 0 0;
	a{
		text-decoration: none;
		color: rgba(0,0,0,.7);
		display: block;
		padding-right: 35px;
		padding-bottom: 10px;
		&:hover{
			color: $primary;
		}
	}
	li{
		&:first-child ul{
			height: 500px;
		}
		&:hover > ul{
			display: block;
			li{
				&:hover div > ul {
					height: 500px;
					display: inline-block;
				}
				&:hover > a {
					background-color: rgba(0,159,151,.1);
					color: $primary;
				}
				&:hover .newlyLaunched a{
					background-color: #fff;
				}
			}
		}
		ul{
			display: none;
			position: absolute;
			background-color: #fff;
			width: 250px;
			border: 1px solid rgba(0,0,0,.2);
			li{
				.categories,.featured,.newlyLaunched{
					position: absolute;
					top: -1px;
					background-color: #fff;
				}
			}
			a,p{
				padding: 10px 15px;
				font-size: 0.85rem;
			}
			p{
				color: grey;
				font-weight: bold;

			}
			.categories{
				left: 100%;
				ul{
					width: 250px;
				}
			}
			.featured{
				left: 200%;
				ul{
					width: 250px;
					border-left: none;
				}
			}
			.newlyLaunched{
				left: 300%;
				ul{
					width: 365px;
					border-left: none;
				}
				a{
					text-align: center;
					padding: 0;
					&:hover{
						background-color: #fff;
					}
				}
				&:hover{
					background-color: #fff;
				}
			}
			.newlyProduct{
				width: 350px;
				margin: 0 auto;
				padding: 0 15px;
				img{
					margin-top: 15px;
					width: 100%;
					max-width: 500px;
					object-fit: cover;
				}
				span{
					&::before{
						content: '';
						display: block;
						border-top: 2px solid $primary;
						margin-top: 25px;
					}
				}
				&:hover .product-btn{
					background-color: $primary;
					color: #fff;
				}
				&:hover span{
					color: rgba(0,0,0,.7);
				}
				.product-btn{
					margin-top: 5px;
					font-size: 14px;
				}
			}
		}
	}
	.rocket{
		a{
			display: block;
			background: linear-gradient(135deg, #01c0c4 0%, #7aaaee 100%);
			border-radius: 5px;
			padding: 0 10px;
			font-size: 12px;
			color: #fff;
			&:hover{
				background: linear-gradient(135deg, #01c0c4 100%, #7aaaee 0%);
				color: #fff;
			}
		}
	}
}