.product-btn{
    color: $primary;
    border-color: $primary;
    border-radius: 15px;
    width: 150px;
    &:hover,&:focus,&:active{
        background-color: $primary;
        border-color: $primary;
        color: #fff;
    }
}